{:main atomist.web.handler
 :base-image {:image-name "openjdk:11-slim-buster"
              :type :registry}
 :target-image {:type :registry
                :image-name "gcr.io/personalsdm-216019/gcr-clj-web"
                :tagger {:fn jibbit.tagger/environment :args {:varname "IMAGE"}}
                :authorizer {:fn jibbit.gcloud/authorizer}}}
