{:main atomist.web.handler
 :target-image {:type :registry
                :image-name "gcr.io/personalsdm-216019/gcr-clj-web"
                :image-format :oci
                :tagger {:fn jibbit.tagger/tag
                         :args {:local "version.txt"} }
                :authorizer {:fn jibbit.gcloud/authorizer}}}
